In [4]:
import pandas as pd

In [5]:
df_diem_2023 = pd.read_csv('diem_thi_thpt_2023.csv')
df_diem_2024 = pd.read_csv('diem_thi_thpt_2024.csv')
df_hoi_dong = pd.read_csv('hoi_dong_thi.csv')
print (df_diem_2023)

              sbd  toan  ngu_van  ngoai_ngu  vat_li  hoa_hoc  sinh_hoc  \
0         1000001   8.4     8.50        9.2     NaN      NaN       NaN
1         1000002   7.2     8.50        9.2     NaN      NaN       NaN
2         1000003   NaN     6.50        NaN     NaN      NaN       NaN
3         1000004   7.8     8.25        7.8     NaN      NaN       NaN
4         1000005   7.2     8.00        7.8     NaN      NaN       NaN
...           ...   ...      ...        ...     ...      ...       ...
1022055  64006933   7.8     6.75        5.4     NaN      NaN       NaN
1022056  64006934   7.4     7.50        6.0     6.0     5.75      6.25
1022057  64006935   6.4     7.00        3.0     NaN      NaN       NaN
1022058  64006936   6.6     7.00        5.8     NaN      NaN       NaN
1022059  64006937   NaN     5.00        NaN     NaN      NaN       NaN

         lich_su  dia_li  gdcd ma_ngoai_ngu
0           6.75    6.00  9.00           N1
1           8.75    6.50  8.50           N1
2           9.25    7.50   NaN          NaN
3           4.50    6.25  8.25           N1
4           4.75    6.75  8.25           N1
...          ...     ...   ...          ...
1022055     8.50    7.75  9.75           N1
1022056      NaN     NaN   NaN           N1
1022057     5.50    5.75  7.25           N1
1022058     6.50    6.50  9.25           N1
1022059     4.25    4.75   NaN          NaN

[1022060 rows x 11 columns]