In [1]:
import pandas as pd

In [2]:
df_diem_2023 = pd.read_csv('diem_thi_thpt_2023.csv', dtype={'sbd': str})
df_diem_2024 = pd.read_csv('diem_thi_thpt_2024.csv', dtype={'sbd': str})
df_hoi_dong = pd.read_csv('hoi_dong_thi.csv',dtype={'Mã tỉnh thành': str})
print (df_hoi_dong)

   Mã tỉnh thành          Tên tỉnh thành
0              1        THÀNH PHỐ HÀ NỘI
1              2   THÀNH PHỐ HỒ CHÍ MINH
2              3     THÀNH PHỐ HẢI PHÒNG
3              4       THÀNH PHỐ ĐÀ NẴNG
4              5           TỈNH HÀ GIANG
..           ...                     ...
58            60           TỈNH BẠC LIÊU
59            61             TỈNH CÀ MAU
60            62          TỈNH ĐIỆN BIÊN
61            63           TỈNH ĐĂK NÔNG
62            64          TỈNH HẬU GIANG

[63 rows x 2 columns]

In [3]:
df_diem_2023['Mã tỉnh thành'] = df_diem_2023['sbd'].str[:2].astype(int)
df_hoi_dong['Mã tỉnh thành'] = df_hoi_dong['Mã tỉnh thành'].astype(int)

df_diem_2023 = pd.merge(df_diem_2023, df_hoi_dong[['Mã tỉnh thành', 'Tên tỉnh thành']], on='Mã tỉnh thành', how='left')
# Drop the 'ma_tinh' column if it's not needed afterward
df_diem_2023.drop(columns=['Mã tỉnh thành'], inplace=True)

df_diem_2024['Mã tỉnh thành'] = df_diem_2024['sbd'].str[:2].astype(int)
df_diem_2024 = pd.merge(df_diem_2024, df_hoi_dong[['Mã tỉnh thành', 'Tên tỉnh thành']], on='Mã tỉnh thành', how='left')
df_diem_2024.drop(columns=['Mã tỉnh thành'], inplace=True)

# View the merged DataFrame
df_diem_2023
df_diem_2024

,sbd,toan,ngu_van,ngoai_ngu,vat_li,hoa_hoc,sinh_hoc,lich_su,dia_li,gdcd,ma_ngoai_ngu,Tên tỉnh thành
0,01000001,8.4,6.75,8.0,6.00,5.25,5.0,NaN,NaN,NaN,N1,THÀNH PHỐ HÀ NỘI
1,01000002,8.6,8.50,7.2,NaN,NaN,NaN,7.25,6.00,8.00,N1,THÀNH PHỐ HÀ NỘI
2,01000003,8.2,8.75,8.2,NaN,NaN,NaN,7.25,7.25,8.75,N1,THÀNH PHỐ HÀ NỘI
3,01000004,4.8,8.50,7.4,NaN,NaN,NaN,7.00,6.00,7.50,N1,THÀNH PHỐ HÀ NỘI
4,01000005,8.6,9.00,7.8,NaN,NaN,NaN,9.00,8.75,8.50,N1,THÀNH PHỐ HÀ NỘI
...,...,...,...,...,...,...,...,...,...,...,...,...
1061600,64007282,4.2,6.00,3.0,NaN,NaN,NaN,5.25,6.25,7.50,N1,TỈNH HẬU GIANG
1061601,64007283,5.2,6.00,3.6,NaN,NaN,NaN,6.25,5.75,7.75,N1,TỈNH HẬU GIANG
1061602,64007284,7.2,8.00,7.0,6.25,7.00,8.0,NaN,NaN,NaN,N1,TỈNH HẬU GIANG
1061603,64007285,5.2,5.25,4.4,NaN,NaN,NaN,4.75,6.50,8.75,N1,TỈNH HẬU GIANG
1061604,64007286,5.8,8.25,2.8,NaN,NaN,NaN,5.00,7.25,8.25,N1,TỈNH HẬU GIANG

In [4]:
# Define the mapping for language codes to language names
language_map = {
    'N1': 'Tiếng Anh',
    'N2': 'Tiếng Nga',
    'N3': 'Tiếng Pháp',
    'N4': 'Tiếng Trung Quốc',
    'N5': 'Tiếng Đức',
    'N6': 'Tiếng Nhật',
    'N7': 'Tiếng Hàn'
}

# Assuming the language code is in a column called 'ma_ngoai_ngu' in both datasets

# Add a new column for the language name in df_diem_2023
df_diem_2023['Tên môn ngoại ngữ'] = df_diem_2023['ma_ngoai_ngu'].map(language_map)

# Add a new column for the language name in df_diem_2024
df_diem_2024['Tên môn ngoại ngữ'] = df_diem_2024['ma_ngoai_ngu'].map(language_map)

# View the updated DataFrames
df_diem_2023
df_diem_2024
df_diem_2024.to_csv('output.csv', index=False, encoding='utf-8-sig')

In [5]:
# Add a column to indicate the year for each dataset
df_diem_2023['Năm'] = 2023
df_diem_2024['Năm'] = 2024

# Concatenate the two DataFrames
df_diem_tong_hop = pd.concat([df_diem_2023, df_diem_2024], ignore_index=True)

# View the combined DataFrame
df_diem_tong_hop

,sbd,toan,ngu_van,ngoai_ngu,vat_li,hoa_hoc,sinh_hoc,lich_su,dia_li,gdcd,ma_ngoai_ngu,Tên tỉnh thành,Tên môn ngoại ngữ,Năm
0,01000001,8.4,8.50,9.2,NaN,NaN,NaN,6.75,6.00,9.00,N1,THÀNH PHỐ HÀ NỘI,Tiếng Anh,2023
1,01000002,7.2,8.50,9.2,NaN,NaN,NaN,8.75,6.50,8.50,N1,THÀNH PHỐ HÀ NỘI,Tiếng Anh,2023
2,01000003,NaN,6.50,NaN,NaN,NaN,NaN,9.25,7.50,NaN,NaN,THÀNH PHỐ HÀ NỘI,NaN,2023
3,01000004,7.8,8.25,7.8,NaN,NaN,NaN,4.50,6.25,8.25,N1,THÀNH PHỐ HÀ NỘI,Tiếng Anh,2023
4,01000005,7.2,8.00,7.8,NaN,NaN,NaN,4.75,6.75,8.25,N1,THÀNH PHỐ HÀ NỘI,Tiếng Anh,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2083660,64007282,4.2,6.00,3.0,NaN,NaN,NaN,5.25,6.25,7.50,N1,TỈNH HẬU GIANG,Tiếng Anh,2024
2083661,64007283,5.2,6.00,3.6,NaN,NaN,NaN,6.25,5.75,7.75,N1,TỈNH HẬU GIANG,Tiếng Anh,2024
2083662,64007284,7.2,8.00,7.0,6.25,7.0,8.0,NaN,NaN,NaN,N1,TỈNH HẬU GIANG,Tiếng Anh,2024
2083663,64007285,5.2,5.25,4.4,NaN,NaN,NaN,4.75,6.50,8.75,N1,TỈNH HẬU GIANG,Tiếng Anh,2024
2083664,64007286,5.8,8.25,2.8,NaN,NaN,NaN,5.00,7.25,8.25,N1,TỈNH HẬU GIANG,Tiếng Anh,2024